:root {
  --primary-color: #bbe1fa;
  --dark-primary: #508eb8;
  --xdark-primary: #0f4c75;
  --secondary-color: #1b262c;
  --danger: #900d0d;
  --success: #158467;
}

* {
  margin: 0;
  padding: 0;
  font-family: Quicksand;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  color: var(--secondary-color);
  /* background-image: url("./istockphoto-1168750663-1024x1024.jpg"); */
  background: var(--primary-color);
  background-size: cover;
  background-attachment: fixed;
}

/* Navbar */
.navbar {
  width: 100vw;
  height: 3rem;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 0.5rem;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--dark-primary);
  transition: all 0.3s ease-out;
}

.navbar > h1 {
  margin-left: 1rem;
}

.navbar a {
  color: inherit;
}

.navbar a:hover {
  color: var(--dark-primary);
  transition: all 0.5s ease-in;
}

.user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  margin-right: 1rem;
}

/* Alert */
.alert {
  height: 2rem;
  padding: 0.5rem 1rem;
  width: 90%;
  margin: 0.5rem auto;
  font-size: 1rem;
  line-height: 1rem;
  box-sizing: border-box;
}

.alert-danger {
  background-color: var(--danger);
  color: #fff;
}

.alert-success {
  background-color: var(--success);
  color: #fff;
}

/* Home page */
.container {
  position: relative;
  top: 3rem;
  height: 100%;
  width: 100%;
}

#landing,
#dashboard {
  position: relative;
  height: fit-content;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

#landing {
  width: 90vw;
  padding: 2rem;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.landing-inner {
  flex: 1;
  padding: 2rem;
}

.large {
  position: relative;
  font-size: 3rem;
  margin-bottom: 10px;
}

.small {
  font-size: 1.3rem;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  /* background: #85bee7; */
}

.validation {
  flex: 1;
  padding: 2rem;
  margin-top: 2rem;
  min-height: 280px;
  background: var(--dark-primary);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-out;
}

.validation:hover {
  transition: all 0.3s ease-out;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.validation > ul {
  width: fit-content;
  margin: auto;
}

.validation > ul > li {
  display: inline-block;
  padding: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  cursor: pointer;
  text-transform: capitalize;
  transition: all 0.5s ease-out;
}

.focus {
  border: 1px solid var(--dark-primary);
  border-radius: 0 0 0.7rem 0.7rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  transition: all 0.5s ease-out;
}

.form {
  width: 90%;
  margin: auto;
}

.form-input > input[type="text"],
input[type="email"],
input[type="password"],
.create-task > input[type="text"],
.create-task > select {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  padding: 0.2rem;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  text-overflow: ellipsis;
}

.btn,
.create-task > input[type="submit"],
.create-task > input[type="reset"] {
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  padding: 0.2rem;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.2s ease-out;
}

.btn {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  transition: all 0.2s ease-out;
}

.btn:hover {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  transition: all 0.2s ease-out;
}

.create-task > input[type="submit"]:hover {
  color: #fff;
  background-color: var(--success);
  transition: all 0.2s ease-out;
}

.create-task > input[type="reset"]:hover {
  color: #fff;
  background-color: var(--danger);
  transition: all 0.2s ease-out;
}

.create-task > input[type="submit"] {
  width: 40%;
  margin-top: 2rem;
  float: right;
}

.create-task > input[type="reset"] {
  width: 40%;
  margin-top: 2rem;
}

/* dashboard */
.drop-box {
  display: none;
  background: rgba(0, 0, 0, 0.3);
}

.box-open {
  display: block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}

.box-open > div {
  height: 250px;
  width: 300px;
  background-color: var(--primary-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.create-task {
  margin-top: 1rem;
}

.user {
  margin: auto 1rem;
}

.user > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user > a > img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.sidebar {
  flex: 1;
  height: 100vh;
  min-width: 200px;
  background: var(--secondary-color);
  color: var(--primary-color);
}

.sidebar > ul > li {
  display: block;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-transform: capitalize;
  border-bottom: 2px solid var();
  cursor: pointer;
}

.sidebar > ul > li:hover {
  background-color: var(--dark-primary);
  color: #fff;
  transition: all 0.3s ease-in;
}

.current {
  background-color: var(--dark-primary);
  transition: all 0.3s ease-in;
}

.task-board {
  flex: 4;
  padding: 2rem;
}

.burger {
  display: none;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.line1,
.line2,
.line3 {
  pointer-events: none;
}

.burger > div {
  height: 2px;
  width: 1rem;
  background: var(--secondary-color);
  margin-bottom: 0.2rem;
}

#create,
#edit,
#delete,
#back-btn {
  height: 1.5rem;
  width: 4rem;
  box-sizing: content-box;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0.2rem;
  transition: all 0.3s ease-out;
  color: var(--secondary-color);
}

#create {
  margin: 1rem 0;
}

#create:hover {
  background: var(--dark-primary);
  color: #fff;
  transition: all 0.3s ease-out;
}

.tasks {
  margin-top: 1rem;
  display: block;
  max-width: 500px;
}

.no-task {
  width: fit-content;
  height: fit-content;
  margin: 3rem auto;
}

.no-task > h1 > span {
  color: var(--danger);
  display: inline-block;
}

.no-task > p {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--secondary-color);
}

.task:last-child {
  border-bottom: 1px solid var(--secondary-color);
}

.task-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem;
}

#edit:hover {
  background: var(--success);
  color: #fff;
  transition: all 0.3s ease-out;
}

#delete:hover {
  background: var(--danger);
  color: #fff;
  transition: all 0.3s ease-out;
}

.buttons > input[type="button"] {
  opacity: 0;
  pointer-events: none;
}

.task:hover > .buttons > input[type="button"] {
  opacity: 1;
  transition: all 0.5s ease-out;
  pointer-events: visibleFill;
}

/* Profile */

#profile {
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 2rem;
  padding-top: 20vh;
}

#profile > div {
  padding: 2rem 1rem;
  border: 2px solid var(--secondary-color);
  border-radius: 0.5rem;
}

#profile > div > div {
  width: fit-content;
  margin: 1rem auto;
}

#profile .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid var(--dark-primary);
  box-sizing: border-box;
}

.data {
  width: 90%;
  margin: auto;
  border-spacing: 1rem;
}

td {
  border-bottom: 2px solid var(--secondary-color);
  color: #fff;
  background: var(--dark-primary);
  border-collapse: collapse;
  padding: 0.3rem 0.5rem;
  margin: 0.5rem;
  text-align: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  cursor: default;
}

#back-btn {
  position: absolute;
  top: 1rem;
  left: 2rem;
  background-color: #fff;
  padding: 3px;
  box-sizing: border-box;
  height: 1.7rem;
  width: 5rem;
}

#back-btn > span {
  display: block;
  width: fit-content;
  margin: auto;
}

#back-btn:hover {
  background: var(--dark-primary);
  color: #fff;
  transition: all 0.3s ease-out;
}

/* Responiveness */
@media screen and (max-width: 768px) {
  #landing {
    display: block;
    padding: 0;
  }

  .landing-inner {
    text-align: center;
    width: fit-content;
    margin: auto;
  }

  .validation {
    margin-top: 0;
  }

  #dashboard {
    display: block;
    width: 100vw;
    height: 100vh;
  }

  .sidebar {
    display: inline-block;
    position: absolute;
    top: 0;
    transform: translate3d(-200px, 0, 0);
    transition: all 0.5s ease-in-out;
  }

  .open {
    transform: translate3d(0, 0, 0);
    transition: all 0.5s ease-in-out;
  }

  .task-board {
    display: inline-block;
    width: 90vw;
    height: 100vh;
  }

  .disabled {
    pointer-events: none;
  }

  .burger {
    display: block;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 3;
    cursor: pointer;
    transition: all 0.7s ease-out;
  }

  .cross {
    left: calc(200px - 2rem);
    transition: all 0.7s ease-out;
    pointer-events: visible;
  }

  .cross > div {
    background: var(--primary-color);
  }

  .cross > .line1 {
    transform: rotate(-45deg) translate(0px, 0.22rem);
    transition: all 0.5s ease-out;
  }

  .cross > .line2 {
    display: none;
    transition: all 0.5s ease-out;
  }

  .cross > .line3 {
    transform: rotate(45deg) translate(0px, -0.22rem);
    transition: all 0.5s ease-out;
  }
}

@media screen and (max-width: 480px) {
  .hide-sm > span {
    display: none;
  }

  .tasks {
    width: 90vw;
  }

  .task-board {
    padding: 2rem 1rem;
  }

  .validation {
    padding: 2rem 0;
  }
}
